<!DOCTYPE html>
<html class="no-js" lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all">
    <link rel="shortcut icon" href="../img/icons/icon-eye.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/main.css">
    <title>Blink - упражнения для глаз</title>
  </head>
  <body>
    <header>
      <nav class="cd-stretchy-nav cd-stretchy-nav-blink" id="main-nav"><a class="cd-nav-trigger" href="#0"><span aria-hidden="true"></span></a>
        <ul>
          <li><a href="../index.html"><span>Главная</span></a></li>
          <li><a href="recommendations.html"><span>Рекомендации</span></a></li>
          <li><a class="active" href="#0"><span>Начать упражнения</span></a></li>
          <li><a href="tables.html"><span>Проверочные таблицы</span></a></li>
        </ul><span class="stretchy-nav-bg" aria-hidden="true"></span>
      </nav>
    </header>
    <main></main>
    <div class="container-fluid">
      <div class="row">
        <div class="timer-cont"><span id="timer"></span></div>
        <div class="tooltip" id="tp-hide">
          <p>Следите глазами за шариком, задерживая взгляд в его крайних положениях на одну секунду. В момент когда он мигает нужно делать упражнение «Бабочка» (легко мигать глазами вместе с ним). Более подробное описание&nbsp;<a href="recommendations.html">здесь.</a></p>
        </div>
        <div class="col-sm-12 main-cont" id="gradient">
          <button class="btn" id="startanim">Начать</button>
          <button class="btn-end btn-end-hide" id="tomain" onclick="location.href='../index.html'">На главную</button>
          <div id="anim-main">
            <div id="anim-circle"></div>
          </div>
        </div>
      </div>
    </div>
    <script src="../js/main.js"></script>
  </body>
</html>