<!DOCTYPE html>
<html class="no-js" lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../img/icons/icon-eye.ico" type="image/x-icon">
    <meta name="robots" content="all">
    <link rel="stylesheet" href="../css/main.css">
    <title>Blink - упражнения для глаз</title>
  </head>
  <body>
    <header>
      <nav class="cd-stretchy-nav cd-stretchy-nav-recom-s" id="main-nav"><a class="cd-nav-trigger" href="#0"><span aria-hidden="true"></span></a>
        <ul>
          <li><a href="../index.html"><span>Главная</span></a></li>
          <li><a class="active" href="#0"><span>Рекомендации</span></a></li>
          <li><a href="blink.html"><span>Начать упражнения</span></a></li>
          <li><a href="tables.html"><span>Проверочные таблицы</span></a></li>
        </ul><span class="stretchy-nav-bg" aria-hidden="true"></span>
      </nav>
    </header>
    <main>
      <div class="container-fluid cont-background">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 recom-s">
              <h2>Рекомендации</h2>
              <p>Перенапряжение глаз в процессе работы за компьютером может привести не только к их покраснению и сухости, но и к потере остроты зрения. Вы можете снять напряжение и усталость, а также укрепить глазные мышцы с помощью специальных комплексов упражнений и гимнастики для глаз.</p>
              <h4>Советы</h4>
              <ul>
                <li> <a href="blink.html">Цикл упражнений </a>лучше выполнять утром и вечером (перед работой и после работы)</li>
                <li>За один раз не следует делать много повторений</li>
                <li>В случае ощущения дискомфорта нужно прекратить выполнение упражнений</li>
              </ul>
              <h4>Упражнения для глаз</h4>
              <ul>
                <li>Вверх и вниз</li>
                <li>Влево и вправо</li>
                <li>Бабочка</li>
                <li>По диагонали с правового верхнего угла в левый нижний</li>
                <li>По диагонали с левого верхнего угла в правый нижний</li>
                <li>Бабочка</li>
                <li>По квадрату против часовой стрелки</li>
                <li>Бабочка</li>
                <li>По квадрату по часовой стрелке</li>
                <li>Бабочка</li>
                <li>По кругу против часовой стрелки</li>
                <li>По кругу по часовой стрелке</li>
                <li>Бабочка</li>
                <li>Змейка</li>
                <li>Пальминг</li>
              </ul>
              <p>После выполнения движений следует делать упражнение «Бабочка»:<br>Это упражнение на расслабление мышц глаза. По сути это обычное моргание. Моргать нужно не только часто, но и очень мягко, легко, не напрягаясь, как, будто крылья бабочки.<br><br>После выполнения комплекса упражнений следует сделать <a href="http://seeactive.by/methods/beits-palming.html" target="_blank">«Пальминг»:</a><br>Закрыть глаза и на несколько минут плотно прикрыть их ладонями. В результате глаза расслабятся.</p>
              <button onclick="location.href='blink.html'">Перейти к упражнениям</button>
            </div>
          </div>
        </div>
      </div>
      <script src="../js/main.js"></script>
    </main>
  </body>
</html>